@import "../styles/values";
@import "../styles/mixins";

.container {
  position: relative;
}

.content {
  padding: $border-outer-space 1rem;

  @include medium-width {
    position: fixed;
    width: 33.333vw;
    height: $border-inner-space;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $border-outer-space 2rem;
  }
}

.name {
  text-transform: uppercase;
  font-size: 28px;

  @include medium-width {
    font-size: 40px;
  }

  @include large-width {
    font-size: 52px;
  }
}

.photoGroups {
  width: 100%;

  padding-bottom: $border-outer-space;

  @include medium-width {
    padding-left: 33.333vw;
  }
}

.photoGroup {
  display: flex;
  align-items: center;
  justify-content: center;

  .photoGroup + & {
    margin-top: $border-outer-space;
  }

  @include small-width {
    grid-auto-flow: column;
  }
}

.photoContainer {
  flex: 1;

  .photoContainer + & {
    margin-top: $border-outer-space;
  }

  @include small-width {
    .photoContainer + & {
      margin-top: 0;
      margin-left: $border-outer-space;
    }
  }
}

.photoWrapper {
  background: $silver;
}

.photoDescription {
  margin-top: 8px;
  font-family: $monospace;
}
