@import "../styles/values";
@import "../styles/mixins";

.heroContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "heading"
    "hero"
    "content";

  @include medium-width {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      "heading hero"
      "content hero";
  }
}

.headingWrapper {
  padding: $border-outer-space;
  padding-bottom: 0;
  grid-area: heading;
}

.heading {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;

  @include small-width {
    font-size: 50px;
  }

  @include medium-width {
    font-size: 60px;
  }

  @include large-width {
    font-size: 70px;
  }
}

.content {
  grid-area: content;
  font-size: 20px;
  padding: $border-outer-space;

  max-width: 27em;

  @include medium-width {
    margin-top: 30vh;

    padding-right: calc(#{$border-outer-space} * 2);
    font-size: 24px;
  }
}

.email {
  margin-top: 40px;
  padding: 0.6rem 2rem;
  border: 1px solid $cod-gray;
  display: block;
  width: fit-content;
  cursor: pointer;
  font-size: 1.25rem;
  background: $cod-gray;
  color: $gallery;
}

.contentParagraph {
  .contentParagraph + & {
    margin-top: $border-outer-space;
  }
}

.hero {
  grid-area: hero;
  width: 100%;
  margin-top: $border-outer-space;

  @include medium-width {
    margin-top: 0;
  }
}

.photoWrapper {
  background: $dusty-gray;
  height: $border-inner-space;

  @include portrait {
    height: 50vh;
  }
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  font-family: $monospace;

  padding: 1rem $border-outer-space 0;

  @include medium-width {
    padding: 1rem $border-outer-space 0 0;
  }
}
