@import "../styles/values";
@import "../styles/mixins";

.splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $gallery;
  color: $cod-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $border-outer-space;
  z-index: 4;

  @keyframes dissapear {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    99% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 0;
      transform: translateY(30px);
      pointer-events: none;
      z-index: -1;
    }
  }

  animation: dissapear 1s $ease-out-expo forwards;
  animation-delay: 3s;
}

.splashScreenTitle {
  font-size: 28px;
  text-align: center;
  max-width: 27em;
  line-height: 1.5;

  opacity: 0;
  transform: translateY(30px);

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  animation: fadeIn 2s $ease-out-expo forwards;
  animation-delay: 1s;

  @include medium-width {
    font-size: 36px;
  }
}

.header {
  position: fixed;
  top: calc(#{$border-outer-space} - 1px);
  left: $border-outer-space;
  width: calc(100vw - (#{$border-outer-space} * 2));
  height: $header-height;

  z-index: 2;
  border: 1px solid $cod-gray;
  background: $gallery;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: none;
}

.logoWrapper {
  height: 100%;
  padding-left: $border-outer-space;
  display: flex;
  align-items: center;
}
.logo {
  height: 100%;
  width: auto;
  display: none;
  stroke-width: 2;

  circle {
    fill: $gallery;
    stroke: $cod-gray;
    stroke-width: 1;
  }
  path {
    stroke: $cod-gray;
    stroke-width: 1;
  }

  @include small-width {
    display: block;
  }
}

.logoText {
  transform: translateY(-1px);

  @include small-width {
    margin-left: 8px;
  }
}

.nav {
  display: flex;
  height: 100%;
}

.link {
  text-decoration: none;
  color: $cod-gray;
  padding: 0 0.75rem 2px;
  height: 100%;
  border-left: 1px solid $cod-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;

  @include small-width {
    padding: 0 12px 2px;
  }
}

.active-link {
  font-weight: bold;
}

.border-outer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  border: #{$border-outer-space} solid $gallery;
  border-bottom-width: $border-outer-bottom-space;
  pointer-events: none;
}

.border-inner {
  position: fixed;
  top: calc(#{$border-outer-space} + #{$header-height} - 1px);
  left: $border-outer-space;
  width: calc(100vw - (#{$border-outer-space} * 2));
  height: $border-height;
  z-index: 2;

  border: 1px solid $cod-gray;
  pointer-events: none;
}

.contact {
  pointer-events: all;
  position: absolute;
  left: 50%;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  height: $border-outer-bottom-space;
  font-size: 0.75rem;
  transform: translate(-50%, 100%);
  z-index: 2;
  align-items: center;
  justify-content: center;
  padding: 0.5rem $border-outer-space;

  @include medium-width {
    font-size: 0.875rem;
  }
}

.contactItem {
  margin: 0 4px;
  text-align: center;
}

.mainOuter {
  padding: calc(#{$border-outer-space} + #{$header-height}) $border-outer-space
    $border-outer-bottom-space;
}

.mainInner {
  position: relative;
  min-height: calc(
    100vh - #{$header-height} - (#{$border-outer-space} + #{$border-outer-bottom-space})
  );
}
